/.env/                                                                                              
/__pycache__/                                                                                       
gastos.db                                                                                           
key.json                                                                                            
*. pyc