<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Resumen</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>

<table>
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Tipo</th>
            <th>Grupo</th>
            <th>Motivo</th>
            <th>Monto</th>
            <th>Descripción</th>
        </tr>
    </thead>
<body>
  <main>
    
    
    <button onclick="window.location.href='/'">Cargar gasto</button>
    <button onclick="window.location.href='/resumen_cat'">Resumen por categorias</button>
    

    <form class="form" method="post" style="display: inline;">
      <button type="submit" name="dia" value="1" style="width: 31%;">Dia</button>
      <button type="submit" name="semana" value="7" style="width: 31%;">Semana</button>  
      <button type="submit" name="mes" value="30" style="width: 31%;">Mes</button>      
    </form>
    <label for="miListaDesplegable">Selecciona una categoria:</label>
    <form class="form" method="post" style="display: inline;">
        <select name="categoria">
          {% for categoria in categorias %}
            <option  value="{{categoria}}">{{categoria}}</option>
          {%endfor%}
        </select>
        <button type="submit" style="width: 20%;">Filtrar</button>

    </form>

    {%set ns = namespace(total=0.0)%}
    {% for resultado in resultados %}   
      <tr>
        
            <td>{{ resultado[0] }}</li>
            <td>{{ resultado[1] }}</li>
            <td>{{seleccionar_categoria(resultado[2])}}</td>
            <td>{{ resultado[2] }}</li>
            <td>{{ (resultado[3]) }}</li>
            <td>{{ resultado[4] }}</li>
            {%set  ns.total = ns.total - (resultado[3]|float)%}
 
    </tr>
    {% endfor %}
    <tfoot>
      <tr>
        <td colspan="4">Total</td>
        <td>{{ ns.total }}</td>
      </tr>
    </tfoot>
  </main>
</body>
</html>